@charsetUTF-8;

body{
    background-color: rgb(23, 211, 23);
}
h1{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}
p{
    text-emphasis: 
    
    
    ;
}